@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1:hover {
  color: #8d35f1;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #8d35f1;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.list-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #000000;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.list-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}
.list-preview h2 {
  font-size: 20px;
  color: #8d35f1;
  margin-bottom: 8px;
}
.Contact{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  text-align: center;

}
.Contact h1{
  color:#8d35f1;
  text-decoration: underline;
  margin-bottom: .5rem;
}
.Contact h3{
  margin-bottom: .5rem;
}
.Contact p{
  margin-top: .5rem;
}
.SOS h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100;
}
.SOS h3{
  display: flex;
  justify-content: center;
  align-items: center;
}
.create {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #8d35f1;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #333;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #8d35f1;
  color: #ffffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 40px;
}